@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

.Results {
    background-color: white;
    font-family: 'Playfair Display';
    padding: 10px;
    margin: 20px 0px;
    border: 3px solid lightgray;
    border-radius: 10px;
    display: flex;
    font-size: 15px;
    width: 97%;
}

.ResultBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.showButton{
    background-color: white;
    border: 1.5px solid #ccc;
    padding: 2px;
    margin-top: 5px;
}

